---
import Banner from "../components/Banner.astro";
import Contact from "../components/Contact.astro";
import Services from "../components/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Developer | Portfolio">
  <main class="gap-20 flex flex-col items-center pb-20">
    <Banner />

    <Services />

    <Contact />
  </main>
</Layout>
